<% include ('templates/header') %>

<div class="admin">
    <h1>Admin page</h1>
    <h1>Welcome, <%= name %></h1>
    <h2>Users</h2>
    <!-- list all the users here. -->
</div>

<% include ('templates/footer') %>
