<% include ('templates/header') %>


    <div class="error">
        <p><%= error %></p>
        <p>Your user type: <%= user_type %></p>
        <a href="/login">click here to go back to login</a>
    </div>


<% include ('templates/footer') %>