<%- include ('templates/header') %>

<h1>Welcome to the home page</h1>

<form action="/login" method="get">
  <button class="btn btn-primary">Login</button>
</form>
<form action="/createUser" method="get">
  <button class="btn btn-secondary">Sign Up</button>
</form>

<%- include ('templates/footer') %>
