<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Arshia-2537-Assignment2</title>
</head>
<body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <ul class="nav nav-pills">
    <% for(let i = 0; i < locals.navLinks.length; i++) {  %>
        <li class="nav-item"><a href="<%= locals.navLinks[i].link%>" class="nav-link <% if (locals.navLinks[i].link == locals.currentURL) { %>active<% } %>" aria-current="page"><%= locals.navLinks[i].name%></a></li>
    <% } %>
  </ul>
</header>
